/* Estilo usado para tela de cadastro banco itau */
/* estilo para imagem do logo do banco */
#logoItau{
    display: flex;
    justify-content: center;
    height: 160px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}
.texto{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Estilo usado no campo onde são inseridas as informações do cliente */
#cliente{
    margin-bottom: 20px;
    text-align: justify;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: blue 2px 2px 4px;
    border-radius: 10px;
    background-color: #EC7000;
}

#contato{
    text-align: justify;
    border-color: blue;
    border-radius: 10px;
}
button{
    width: 100px;
    height: 40px;
    font-size: 18px;
}
.divButton{
    display: flex;
    justify-content: center;
}

#endereco{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: blue;
    border-radius: 10px;
    background-color: #EC7000;
}
.rodape{
    display: flex;
    justify-content: center;
    
}

legend{
    background-color: #87CEFA
}
input{
    background-color: white
}